<header class="site-header">

  <head>
    <link rel="stylesheet" type="text/css" href="style2.css">
  </head>
  <div id="header" >
    <style>
      nav{
        background-image: url("/images/nature_image.jpeg") ;
      }
    </style>
    <nav>
      <ul>
        <li class="fork"><a href="{{site.baseurl}}/">Home</a></li>
        <li class="fork"><a href="{{site.baseurl}}/compsci">CompSci</a></li>
        <li class="fork"><a href="{{site.baseurl}}/blogs">Blogs</a></li>
        <li class="title"><a href="{{site.baseurl}}/help">Help</a></li>
        <li class="title"><a href="{{ site.github.repository_url }}#readme">View On GitHub</a></li>
      </ul>
    </nav>
  </div><!-- end header -->
</header>