<header class="site-header">

  <head>
  </head>
  <div id="header" >
    <nav>
      <ul style="background-image:url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/42/Shaqi_jrvej.jpg/1200px-Shaqi_jrvej.jpg);" >
        <li class="fork"><a href="{{site.baseurl}}/">Home</a></li>
        <li class="fork"><a href="{{site.baseurl}}/compsci">CompSci</a></li>
        <li class="fork"><a href="{{site.baseurl}}/blogs">Blogs</a></li>
        <li class="title"><a href="{{site.baseurl}}/help">Help</a></li>
        <li class="title"><a href="{{ site.github.repository_url }}#readme">View On GitHub</a></li>
      </ul>
    </nav>
  </div><!-- end header -->
</header>